/* @font-face {
  font-family: "Gilroy";
  src: url("../../../assets/Gilroy-Regular.woff");
}
* {
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
} */

.MuiTableCell-root {
  border-bottom: 0px !important;
}
