@font-face {
  font-family: "Gilroy";
  src: url("../../../assets/Fonts/Gilroy-Regular.woff");
}

* {
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
  /* color: #a5a5a6 !important; */
}

/* .txt_emp {
  color: #e8e7f0 !important;
} */

.left_div {
  width: 20vw;
  /* background-color: #61dafb; */
  background-color: #222124;
  height: 100vh;
}

.right_div {
  width: 75vw;
  /* background-color: aquamarine; */
}

.right_upper_div {
  height: 15vh;
  /* background-color: red; */
  margin-right: 20px;
}

.right_lower_div {
  height: 75vh;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.right_lower_start {
  background-color: #201f24;
  width: 50vw;
  height: 70vh;
  border-radius: 15px;
}

.right_lower_end {
  background-color: #201f24;
  width: 25vw;
  height: 65vh;
  border-radius: 15px;
  margin: 0px 20px 20px 20px;
}
